<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8157339952-g00fndfmkkc0hv0ehii2k00e1bk5rpbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8157339952-g00fndfmkkc0hv0ehii2k00e1bk5rpbe</string>
	<key>API_KEY</key>
	<string>AIzaSyCi_y3usP8UwzGmBBgnv2vLkp15iAyRzlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>8157339952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-56de5</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-56de5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8157339952:ios:f687f107f3eeda875a28f5</string>
</dict>
</plist>